mysite/mysite/__pycache__/__init__.cpython-37.pyc
mysite/mysite/__pycache__/db_router.cpython-37.pyc
mysite/mysite/__pycache__/secret_info.cpython-37.pyc
mysite/mysite/__pycache__/settings.cpython-37.pyc
mysite/mysite/__pycache__/urls.cpython-37.pyc
mysite/mysite/__pycache__/*.pyc
mysite/search/views/__pycache__/__init__.cpython-37.pyc
mysite/search/views/__pycache__/application_controller.cpython-37.pyc
mysite/search/views/__pycache__/back_data_similar_rank_service.cpython-37.pyc
mysite/search/views/__pycache__/back_data_similar_sort.cpython-37.pyc
mysite/search/views/__pycache__/backdata_vector_create_service.cpython-37.pyc
mysite/search/views/__pycache__/morphological_wrods.cpython-37.pyc
mysite/search/views/__pycache__/search_dto.cpython-37.pyc
mysite/search/views/__pycache__/search_repository.cpython-37.pyc
mysite/search/views/__pycache__/search_service_application.cpython-37.pyc
mysite/search/views/__pycache__/search_vector_create_service.cpython-37.pyc
mysite/search/views/__pycache__/search_words_creater.cpython-37.pyc
mysite/search/views/__pycache__/vector_compare.cpython-37.pyc
mysite/search/views/__pycache__/vector_similar_rank.cpython-37.pyc
mysite/search/views/__pycache__/word_count_vector.cpython-37.pyc
mysite/search/migrations/__pycache__/__init__.cpython-37.pyc
mysite/search/migrations/__pycache__/0001_initial.cpython-37.pyc
mysite/search/static/ai_model/count_vector/count_vector_model
mysite/search/static/ai_model/count_vector/stab.model
mysite/search/static/ai_model/entity_vector/stanby-jobs-200d-word2vector.bin
mysite/search/static/ai_model/entity_vector/word2vec_model
mysite/search/__pycache__/__init__.cpython-37.pyc
mysite/search/__pycache__/admin.cpython-37.pyc
mysite/search/__pycache__/apps.cpython-37.pyc
mysite/search/__pycache__/models.cpython-37.pyc
mysite/search/__pycache__/urls.cpython-37.pyc
mysite/search/tests/__pycache__/test_back_data_similar_rank_service.cpython-37.pyc
mysite/search/tests/__pycache__/test_back_data_similar_sort.cpython-37.pyc
mysite/search/tests/__pycache__/test_backdata_vector_create_service.cpython-37.pyc
mysite/search/tests/__pycache__/test_morphological_wrods.cpython-37.pyc
mysite/search/tests/__pycache__/test_search_repository.cpython-37.pyc
mysite/search/tests/__pycache__/test_search_service_application.cpython-37.pyc
mysite/search/tests/__pycache__/test_search_vector_create_service.cpython-37.pyc
mysite/search/tests/__pycache__/test_search_words_creater.cpython-37.pyc
mysite/search/tests/__pycache__/test_vector_compare.cpython-37.pyc
mysite/search/tests/__pycache__/test_vector_similar_rank.cpython-37.pyc
mysite/search/tests/__pycache__/test_word_count_vector.cpython-37.pyc
mysite/search/tests/__pycache__/__init__.cpython-37.pyc
mysite/mysite/secret_info.py
mysite/qiita.csv
